.obsidian
**/**.DS_Store
/Anexos/biologia-1.pdf
/Anexos/biologia-2.pdf
/Anexos/biologia-3.pdf
/Anexos/fisica-1.pdf
/Anexos/fisica-1-respostas.pdf
/Anexos/fisica-2.pdf
/Anexos/fisica-2-respostas.pdf
/Anexos/fisica-3.pdf
/Anexos/fisica-3-respostas.pdf
/Anexos/matematica-1.pdf
/Anexos/matematica-2.pdf
/Anexos/matematica-3.pdf
/Anexos/quimica-1.pdf
/Anexos/quimica-2.pdf
/Anexos/quimica-3.pdf